/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text {
  &--muted {
    opacity: .66;
  }

  &--small {
    font-size: 12px;
  }

  &--color {
    &--success {
      color: #4BB543;
    }

    &--warn {
      color: #B33A3A;
    }
  }
}
